PORT=3001
REDIS_URL=rediss://default:AXBXAAIncDJkYjQ4OWI0MjJkZjk0NDlmOWYxZGM0YmNhYzViZTQwZnAyMjg3NTk@new-heron-28759.upstash.io:6379
CORS_ORIGIN=http://localhost:5000,https://your-vercel-app.vercel.app
NODE_ENV=development
